/*Reset*/
* {
    margin: 0;
    padding: 0;
}
/* border to emulate mobile view*/
.phone {
    border: solid #000 5px;
    width: 640px;
    height: 1136px;
    margin: 0 auto;
}
 
/************************Defaults*******************/
th {
    background-color: #888;
    color: #fff;
    text-align: left;
}
td {
    text-align: right;
}

div {
    margin-top: 5px;
}
/***********************Components******************/
/*header*/
header {
    text-align: center;
}

/*content area*/
.content {
    width: 640px;
    margin: auto;
    background-color: #eee;
}
/*dashboard*/
.dashboard {
    min-height: 300px;
}
/*nav*/
.nav span {
    text-align: center;
    display: inline-block;
    margin-top: 10px;
}

.nav .tab {
    background-color: #333;
    color: white;
    width: 24%;
    border: 0;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
}

.nav .selected {
    background-color: #ccc;
}
.button {
    height: 50px;
    border: solid #000 1px;
    background-color: #333;
    color: #fff;
}

/*alerts*/

/*add_edit form*/
.add_edit {
    position: relative;
}
label {
    display: block;
    width: 100%;
}
input {
    font-size: 1.2em;
}

.search {
    float: right;
}

caption {
    background-color: red;
    color: #fff;
}

/*Structure*/

table {
    width: 100%;
}

td {
    padding: 3px;
}

td a {
    display: block;
}

tr:nth-child(even) {
    background-color: #ddd;
}

.datepicker {
    display: inline-block;
    width: 150px;
    height: 150px;
    background-color: green;
}

.inactive {
    display: none;
}