/*Reset*/
* {
    margin: 0;
    padding: 0;
    
}

/************************Defaults*******************/
/***********************Components******************/
/*header*/
header {
    text-align: center;
    background-color: #ccc;
}
/*content area*/
.content {
    width: 500px;
    margin: auto;
}
/*dashboard*/
.dashboard {
    min-height: 300px;
}
/*nav*/
.nav {
    text-align: center;
}

.nav .button {
    height: 50px;
    border: solid #000 1px;
    background-color: #333;
    color: #fff;
    vertical-align: middle;
}

/*alerts*/

/*add_edit form*/
.add_edit {
    position: relative;
}
label {
    display: block;
    width: 100%;
}
input {
    font-size: 1.5em;
}

.search {
    float: right;
}


/*Structure*/

table {
    width: 100%;
}

td {
    padding: 3px;

}

tr:nth-child(even) {
    background-color: #eee;
}

.inactive {
    display: none;
}